<div class="main-back-image">
 <div class="container">
  <div class="row">
   <div class="col−8 mx-auto">
    <h1 class=" border border-light p-2">マイページ</h1>
   </div>
  </div>
  
 <div class="card mb-3" style="max-width: 380px;">
  <div class="row ">
   <div class="col-md-5">
    <div class="bd-placeholder-img" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image">
     <%= image_tag @user.get_image(190,140) %>
    </div>
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <p class="card-text"><%= @user.introduction %></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
  
    <tr><%= image_tag @user.get_image(300,300) %></tr>
       <table class='table'>
          <tr>
        	  <th class="text-white">ユーザ名</th>
        	  <td class="text-white"></td>
          </tr>
          <tr>
        	  <th class="text-white">紹介文</th>
        	  <td class="text-white"><%= @user.introduction %></td>
          </tr>
        </table>
     </div>
    </div>
    
    <div class="col-8">
     <% @items.each do |item| %>
      <%= item.name%>
      <%= item.description %>
     <% end %>
    </div>
  </div>
  </div>
 </div>
</div>