<div class="main-back-image">
<div class="container">
  <div class="row">
    <div class="col-3 mt-5">
       <% if user_signed_in? %>
       <table class='table' style="color: white;">
          <tr><%= image_tag @user.get_image(200,200) %></tr>
          <tr>
        	  <th>User ID</th>
        	  <td><%= @user.name %></td>
          </tr>
          <tr>
        	  <th>introduction</th>
        	  <td><%= @user.introduction %></td>
          </tr>
          </table>
        <% end %>
    </div>
    <div class="col-9">
      
    <h2 class="text-body mt-5">アイテム一覧</h2>
    
    <div class="d-flex flex-wrap">
       <% @items.each do |item| %> 
      
       <div class="card bg-light mb-5" style="width: 180px; margin: 7px; border: 2px;">
        <%= link_to item_path(item) do %>
         <div class="bd-placeholder-img card-img-top"><%= image_tag item.get_image(180, 170) %></div>
        <div class="card-body">
         <h7 class="card-title text-body">
             <p class="card-text"><small class="text-muted">ITEM NAME</small></p>
          <strong><%= item.name %></strong></h7>
         
        </div>
        </div>
       <% end %>
      <% end %>
      </div>
   </div>
  </div>  
</div>
</div>